:root {
  --body-size: clamp(1rem, .8852rem + .4898vw, 1.25rem);
  --nav-size: clamp(.875rem, .7985rem + .3265vw, 1rem);
  --type-scale: 1.333;
  --h1-size: calc(pow(var(--type-scale), 5) * 1rem);
  --h2-size: calc(pow(var(--type-scale), 4) * 1rem);
  --h3-size: calc(pow(var(--type-scale), 3) * 1rem);
  --h4-size: calc(pow(var(--type-scale), 2) * 1rem);
  --h5-size: calc(var(--type-scale) * 1rem);
  --line-height: 1.6;
}

@media (min-width: 900px) {
  :root {
    --h1-size: calc(pow(var(--type-scale), 6) * 1rem);
  }
}

@media (max-width: 600px) {
  :root {
    --type-scale: 1.25;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: hsl(0, 0%, 2%);
    --bg: hsl(0, 0%, 98%);

    /* --reel: hsl(171, 47%, 15%); */

    --primary-200: hsl(170, 35%, 80%);
    --primary-800: hsl(170, 45%, 20%);

    --secondary: hsl(0, 0%, 92%);
    --secondary-50a: hsl(0, 0%, 93%, 75%);
    
    --shadow: hsl(0, 0%, 0%, 15%);

    --img-brightness: 1;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(180, 20%, 98%);
    --bg: hsl(170, 50%, 6%);

    /* --reel: hsl(170, 49%, 4%); */

    --primary-200: hsl(170, 45%, 20%);
    --primary-800: hsl(170, 60%, 80%);

    --secondary: hsl(170, 50%, 10%);
    --secondary-50a: hsl(170, 50%, 10%, 75%);

    --shadow: hsl(0, 0%, 0%, 20%);

    --img-brightness: 1;
  }
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  margin: 0px;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  position: relative;  
}

body.noscroll {
  overflow-y: hidden;
}

#content {
  width: 100%;
  margin-bottom: 100px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(10px);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#content.show {
  opacity: 1;
  transform: translateY(0px);
}

h1, h2, h3, h4, h5 {
  font-family: 'Vollkorn', serif;
  color: var(--primary-800);
  font-weight: 700;
}

html {
  font-size: var(--body-size);
  line-height: var(--line-height);
  color: var(--text);
  scrollbar-color: var(--primary-800) var(--bg);
}

h1 {font-size: var(--h1-size)}

h2 {font-size: var(--h2-size)}

h3 {font-size: var(--h3-size)}

h4 {font-size: var(--h4-size)}

h5 {font-size: var(--h5-size)}

small {font-size: var(--small-size)}

a {
  color: var(--primary-800);
}

/* BUTTONS */

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0 0 50px 0;
  list-style: none;
  padding: 0;
}

.button {
  font-size: 100%;
  font-family: 'Ubuntu', sans-serif;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 15px;
  background-color: var(--secondary);
  color: var(--text);
  transition: background-color 0.2s ease-in-out;
}

.button.nav {
  color: var(--text);
  font-size: var(--nav-size);
  background: none;
  text-decoration: none;
  padding: 12px 15px;
  border-radius: 50px;
  transition: background-color 0.2s ease-in-out;
}

.button.social {
  font-size: 35px;
  width: 55px;
  height: 55px;
  /* padding: 3px 0px; */
  color: var(--primary-800);
}

.button.sort {
  /* padding: 10px 15px; */
  font-size: 30px;
  padding: 0px;
  width: 55px;
  height: 55px;
  border-radius: 15px;
  color: var(--primary-800)
}

.button.close {
  z-index: 2;
  font-size: 30px;
  padding: 0px;
  width: 150px;
  flex: 0 0 50px;
  border-radius: 30px;
  /* border: 10px solid var(--secondary); */
  position: sticky;
  top: 25px;
  color: var(--primary-800);
  background-color: var(--secondary);
}

.button.selected, .button:hover {
  cursor: pointer;
  background-color: var(--primary-200);
}

.nav-bar {
  position: fixed;
  top: 15px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 100px;
  gap: 10px;
  background-color: var(--secondary-50a);
  backdrop-filter: blur(30px);
  transform: translateY(0px);
  transition: background-color backdrop-filter transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.nav-bar.triggered {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0px);
}

.nav-bar.hide {
  transform: translateY(-150px);
}

a {
  text-decoration: none;
}

.link {
  white-space: nowrap;
  color: var(--primary-800);
  background-color: var(--primary-200);
  border-radius: 0.8rem;
  padding: 0.15rem 0.4rem;
}

.link:hover {
  cursor: pointer;
}

.section-title {
  margin: 125px 0px 40px 0px;
  text-align: center;
  font-weight: 800;
}

@media (max-width: 600px) {
  .section-title {
    margin: 105px 0px 30px 0px;
  }
}

.mobile-icon {
  color: var(--primary-800);
  display: none;
}

@media (max-width: 600px) {
  .mobile-icon {
    display: inline;
  }
  .desktop-text {
    display: none;
  }
  .button.nav {
    font-size: 22pt;
    padding: 0px;
    width: 55px;
    height: 55px;
    border-radius: 15px;
  }
  .nav-bar {
    border-radius: 25px;
  }
}

/* CARDS */

.card-container {
  width: min(95%, 1300px);
}

.card-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: clamp(20px, 2vw, 30px);
  width: 100%;
}

.card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: clamp(20px, 2vw, 30px);
  width: 100%;
}

@media (max-width: 600px) {
  .card-container {
    width: 90%;
  }
  .card-row {
    flex-wrap: wrap;
  }
  .card-row:first-of-type {
    margin-top: 20px;
  }
}

.card {
  border-radius: 30px;
  transform: translateY(0px);
  transition: transform 0.2s ease-in-out;
}

.card.text {
  background-color: var(--secondary);
  padding: 1.5rem 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card.image {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: brightness(var(--img-brightness));
  /* border: 10px solid var(--secondary); */
  /* align-items: center; */
}

@media (max-width: 600px) {
  .card.image.hide {
    display: none;
  }
}

.card.image img {
  object-fit: cover;
  min-height: 100%;
  max-width: 100%;
}

.card:hover {
  transform: translateY(-5px);
}

.card.text h2 {
  font-size: var(--h3-size);
  margin: 0px 0px 5px 0px;
  font-weight: 700;
  color: var(--primary-800);
}

.card.text p {
  flex-grow: 1;
  margin: 1rem 0px 0px 0px;
  opacity: 0;
  transform: translateY(5px);
  filter: blur(1px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out, filter 0.6s ease-in-out;
}

.card.text p:first-of-type {
  margin: 0px;
}

.card.text p.triggered {
  filter: blur(0px);
  opacity: 1;
  transform: translateY(0px);
}

.image-bubble {
  position: absolute;
  height: 120px;
  width: 120px;
  display: none;
  top: -75px;
  border-radius: 35px;
  border: 10px solid var(--bg);
  background-color: var(--bg);
  /* border-top-right-radius: 0px; */
  border-bottom-right-radius: 0px;
  overflow: hidden;
  right: 0px;
  filter: brightness(var(--img-brightness));
}

.image-bubble img {
  border-radius: calc(35px - 10px);
  border-bottom-right-radius: 0px;
  overflow: hidden;
}

@media (max-width: 600px) {
  .image-bubble {
    display: flex;
  }
  .card:has(> .image-bubble) {
    margin-top: 30px;
  }
}

/* PROJECTS */

#projects {
  display: grid;
  width: max(80%, min(95%, 1700px));
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1300px) {
  #projects {
    width: min(95%, 1000px);
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  #projects {
    width: min(90%, 500px);
    grid-template-columns: 1fr;
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  border-radius: 30px;
  overflow: hidden;
  transform: translateY(10px);
  box-shadow: none;
  opacity: 0;
  filter: blur(1px);
}

.project-card.triggered {
  transform: translateY(0px);
  filter: blur(0px);
  opacity: 1;
}

.project-card:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0px 5px 9px var(--shadow);
}

.project-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.project-cover img {
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  filter: brightness(var(--img-brightness));
}

.project-inner {
  flex-grow: 1;
  padding: 10px 20px 20px 20px;
  /* position: relative; */
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;
  bottom: 10px;
  left: 10px;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.skills li {
  font-weight: 700;
  color: var(--primary-800);
  margin: 0px;
  background-color: var(--primary-200);
  /* background-color: var(--secondary); */
  padding: 0.15rem 0.7rem;
  border-radius: 12px;
}

.project-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.project-title {
  margin: 0px;
  font-size: 1.421rem; /* 1.894 */
  color: var(--primary-800);
  font-weight: 800;
  font-family: 'Ubuntu', sans-serif;
}

.project-date {
  margin: 0px 0px 10px 0px;
}

.project-blurb {
  margin: 0px;
}

#project-page {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(100vh);
  background-color: var(--bg);
  /* background-color: var(--secondary); */
  transition: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  overflow-y: scroll;
  overscroll-behavior: contain;
  scrollbar-color: var(--primary-800) var(--bg);
}

#project-page.show {
  transform: translateY(0px);
}

.project-header {
  width: min(85%, 1700px);
  margin: 50px 0px 30px 0px;
}

.project-header h2 {
  margin: 0px;
  line-height: 1.2;
}

.project-header p {
  margin: 0px;
}

.project-content {
  width: min(85%, 1700px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 100px;
}

.project-content > div {
  background-color: var(--secondary);
  padding: 1rem 1.5rem;
  border-radius: 20px;
}

.project-content > div ul {
  margin: 0.5rem 0 1rem 0;
  padding: 0 1.5rem;
}

.project-content > div > ul:last-child {
  margin-bottom: 0;
}

.project-content .gallery {
  width: 100%;
}

.project-content .gallery .gallery-photo.blank {
  background-color: var(--bg);
}

.project-content p {
  margin: 0px;
}

#project-triggers, #gallery-triggers {
  position: sticky;
  top: 0;
}

/* PHOTOGRAPHY */

#gallery {
  width: clamp(80%, 1700px, 95%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

#gallery > li {
  margin: 100px 0 0 0;
}

.gallery-header {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  opacity: 0;
  filter: blur(1px);
  transition-property: opacity filter;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.2s;
}

.gallery-header.triggered {
  opacity: 1;
  filter: blur(0px);
}

#gallery > li:first-of-type {
  margin-top: 40px;
}

@media (max-width: 600px) {
  #gallery > li {
    margin-top: 50px;
  }
  #gallery > li:first-of-type {
    margin-top: 10px;
  }
}

.gallery-header li {
  margin: 0px;
  border-radius: 15px;
  flex-grow: 1;
  text-align: center;
  background-color: var(--secondary);
  padding: 0.6rem 1.2rem;
  /* font-weight: 700; */
}

.gallery-header li i {
  margin-right: 0.7rem;
}

.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  /* overflow: hidden;
  border-radius: 20px; */
  column-count: 3;
  column-gap: 10px;
}

@media (min-width: 601px){
  .gallery:not(:has(> :nth-child(3))) {
    column-count: 2;
  }
}

@media (max-width: 1300px) {
  .gallery {
    /* width: 95%; */
    column-count: 2;
  }
}

@media (max-width: 650px) {
  #gallery {
    width: 90%;
  }
  .gallery {
    column-count: 1;
  }
}

.gallery > li {
  border-radius: 10px;
  overflow: hidden;
  margin: 0 0 10px 0;
  box-shadow: 0 0 10px var(--shadow);
}

.gallery > li:last-child {
  margin-bottom: 0;
}

.gallery figure {
  margin: 0;
  width: 100%;
  position: relative;
  transform: translateY(10px);
  opacity: 0;
  filter: blur(1px);
}

.gallery figure.triggered {
  transform: translateY(0);
  opacity: 1;
  filter: blur(0px);
}

.gallery figure img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  vertical-align: bottom;
  filter: brightness(var(--img-brightness));
}

.gallery figure.blank {
  flex: 5 1 0;
  background-color: var(--secondary);
}

@media (max-width: 600px) {
  .gallery figure.blank {
    display: none;
  }
}

.gallery figure figcaption {
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(5px);
  filter: blur(1px);
  transition: opacity transform filter;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  margin: 0px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin-right: 10px;
  color: var(--primary-800);
  background-color: var(--primary-200);
  /* background-color: var(--secondary); */
  padding: 0.15rem 0.7rem;
  border-radius: 12px;
}

.gallery figure:hover figcaption {
  opacity: 1;
  transform: translate(0px);
  filter: blur(0px);
}

/* .photo-reel {
  width: 100%;
  border-radius: 30px;
  background-color: var(--reel);
}

.reel-container {
  height: 300px;
  margin: 20px 25px;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 20px;
  scrollbar-width: none;
  border-top: 20px dashed var(--bg);
  border-bottom: 20px dashed var(--bg);
}

.reel-photo {
  position: relative;
}

.reel-photo img {
  filter: brightness(var(--img-brightness));
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
} */